@import './_variable.css';

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-size  : var(--font-size);
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    margin: 1.5rem;
}